//------------------------------------------------------------
// = VARIABLES
//------------------------------------------------------------

:root {
  --white: #ffffff;
  --white-smoke: #f1f1f1;
  --grey100: #e5e5e5;
  --grey200: #d0d0d0;
  --grey300: #b2b2b2;
  --grey400: #888888;
  --grey700: #333333;
  --grey800: #272727;
  --black: #000000;
  --visvis: #ffeeaa;
  --yellow: #ffd900;
  --golden: #f1c400;
  --tutu: #ffe5e5;
  --peach: #ffe2b7;
  --oysterbay: #cfeaeb;
  --turquoise: #8ac0c3;
  --blue: #589bde;
  --cello: #344960;
  --secondary: #0f878d;
  --pastel-green: #67ac5b;
  --neon-green: #19d10d;
  --salmon: #ff7a79;
  --bitter-sweet: #ff5774;
  --primary: #ff4240;
  --torch-red: #ff0102;
  --rgb-white: 255,255,255;
  --rgb-secondary: 15,135,141;
  --rgb-lavender-grey: 235,235,244;
  --rgb-grey44: 112,112,112;
  --rgb-grey200: 208,208,208;
  --rgb-grey700: 51,51,51;
  --rgb-oysterbay: 207,234,235;
  --rgb-nero: 34,31,31;
  --rgb-black: 0,0,0;
}
