.app-container {
  header {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-top: 45px;
    padding-bottom: 15px;
    border-bottom: 1px dotted var(--white-smoke);
  }
  .section-row, .text-inputs-wrapper {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .section-col {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    border: 1px solid var(--grey100);
    border-radius: 5px;
    box-shadow: 0 2px 6px 0px var(--grey100);
    padding: 20px 30px;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  #smartgift-logo {
    height: 60px;
  }
  #main-content {
    padding: 40px 20px;
    .product-image-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 400px;
      border: 1px solid var(--white-smoke);
      border-radius: 5px;
      margin-bottom: 25px;
    }
    .product-image-wrapper img {
      object-fit: cover;
      height: 400px;
    }
    .description-wrapper--title {
      color: var(--primary);
      font-size: 18px;
      font-weight: 800px;
    }
    .product--title {
      color: var(--primary);
      font-size: 24px;
      font-weight: 800;
      margin-bottom: 30px;
    }
    .select-input-container {
      margin-bottom: 25px;
    }
    .button {
      margin-top: auto;
    }
  }
  .text-inputs-wrapper {
    align-items: flex-start;
    .text-input-container:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@media (max-width: 878px) {
  .section-row {
    flex-direction: column;
  }
  .text-inputs-wrapper {
    display: flex;
  }
  .section-col:not(:last-child) {
    margin-right: 0!important;
    margin-bottom: 15px;
  }
  #smartgift-logo {
    height: 50px!important;
  }
}

@media (max-width: 532px) {
  .text-inputs-wrapper {
    flex-direction: column;
    .text-input-container, a, .button {
      width: 100%;
    }
    .text-input-container:not(:last-child) {
      margin-right: 0!important;
      margin-bottom: 15px;
    }
  }
  #smartgift-logo {
    height: 40px!important;
  }
}