%button-base {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  transition: all .3s;
  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
}
%button-size {
  height: 56px;
  min-width: 164px;
}

.button-primary {
  @extend %button-base;
  @extend %button-size;
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
  .spinner-container span {
    border-top-color: var(--white);
    border-left-color: var(--white);
    border-right-color: var(--white);
  }
  &:hover:not(&.button-disabled) {
    background-color: transparent;
    color: var(--primary);
    .spinner-container span {
      border-top-color: var(--red);
      border-left-color: var(--red);
      border-right-color: var(--red);
    }
  }
}
.button-secondary {
  @extend %button-base;
  @extend %button-size;
  color: var(--white);
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  .spinner-container span {
    border-top-color: var(--white);
    border-left-color: var(--white);
    border-right-color: var(--white);
  }
  &:hover {
    background-color: transparent;
    color: var(--secondary);
    .spinner-container span {
      border-top-color: var(--green);
      border-left-color: var(--green);
      border-right-color: var(--green);
    }
  }
}
.button-transparent {
  @extend %button-base;
  height: auto;
  border: 0;
  background-color: inherit;
  padding: 0;
  min-width: inherit;
  color: var(--secondary);
  text-decoration: none;
}
.link {
  @extend %button-base;
  text-decoration: underline;
  display: inline-flex;
  color: var(--secondary);
  padding: 0;
}
