.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--rgb-black), 0.45);
  z-index: 30;
}
.modal {
  display: flex;
  flex-direction: column;
  width: 550px;
  min-height: 200px;
  background-color: var(--background);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 2px;
  .modal__header {
    display: flex;
    justify-content: flex-end;
  }
  .modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 30px;
    .icon {
      fill: var(--color);
      color: var(--color);
      width: fit-content;
      height: 100px;
    }
  }
  .modal__content--text {
    color: var(--color);
    font-size: var(--font-large);
    font-weight: 800;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
    }
    div span {
      color: var(--primary);
      font-size: var(--font-xlarge);
      margin-top: 10px;
      margin-bottom: 15px;
    }
    div .button {
      height: 30px;
      margin-top: 15px;
      min-width: 120px;
    }
  }
}
