//------------------------------------------------------------
// = RESET
//------------------------------------------------------------

* {
  outline: 0 !important;
}

::selection {
  color: var(--white);
  background: var(--grey700);
}

::-moz-selection {
  color: var(--white);
  background: var(--grey700);
}

body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
}

h1, h2, h3, h4, h5, h6, figure, ul, ol, label {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
select[type=number]::-webkit-outer-spin-button,
select[type=number]::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number],
select[type=number] {
  -moz-appearance: textfield;
}

input:-moz-focusring,
select:-moz-focusring,
textarea:-moz-focusring {
  outline: none;
}

select::-ms-clear,
select::-ms-expand,
input::-ms-clear,
input::-ms-expand,
textarea::-ms-clear {
  display: none !important;
}
